*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section{
    width: 100%;
    height: 100%;
}

#one{
    background-image: url('/Images/photo-1545852528-fa22f7fcd63e.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#two{
    background-image: url('/Images/snowy\ mountain.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#three{
    background-image: url('/Images/sea.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#four{
    background-image: url('/Images/garden.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover{
    height: inherit;
    width: inherit;
    background-color: rgba(22, 20, 20, 0.507);
    padding: 8%;
}

.container{
    background-color: rgba(0, 0, 0, 0.486);
    max-width:  375px;
    /* height: 320px; */
    margin: 0 auto;
    border-top: 1px solid  white ;
    border-bottom: 1px solid  white ;
    border-bottom-right-radius: 50px;
    text-align: center;
    padding: 4%;
} 

.head{
    color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    font-size: 200%;
    margin-bottom: 4%;
}

.msg-1{
    color: white;
    font-size: 130%;
    font-style: italic;
    margin-bottom: 4%;
}
   
.btn{
    width: 200px;
    height: 40px;
    font-size: 16px;
    color: rgb(68, 68, 68);
    border-radius: 5px;
    outline: none;
    margin-bottom: 4%;
}